* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Baloo 2', cursive;
}

body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.statistic {
    width: 100%;
}

.total_case_box {

    background-color: #fafafa;
    box-shadow: 0px 0px 28px 0px black;
    margin: 10px 15px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
}

.total_case_box p {
    font-size: 3rem;
}

.wrapper .box_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box_wrapper .box {
    background-color: #fafafa;
    box-shadow: 0px 0px 18px 0px black;
    margin: 10px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    text-transform: uppercase;
}

.box_wrapper .box p {
    font-size: 2.5rem;
}


/*Styiling the table*/
table {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    text-align: center;
    border-spacing: 1px;
}

tr:first-child {
    background-color: #37474f;
    color: #fafafa;
    text-transform: uppercase;
}

th {
    padding: 5px 0;
    border: none;
    border-spacing: 0;
    background-color: brown;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid white;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
}

tr:nth-child(even) {
    background-color: #fafafa;


}

tr:nth-child(odd) {
    background-color: #424242;
    color: #fafafa;
}

tr td {
    padding: 15px 0;


}

#countries_stat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:800px) {

    .box_wrapper .box {
        width: 94%;
    }

    .wrapper {
        width: 100%;
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }

    .wrapper .box_wrapper {
        display: block;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    box_wrapper .box {
        margin: 0px;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        padding: 0px 0px;
        margin: 0px;
    }

    th {
        font-size: 12px;
    }

    #countries_stat {
        position: absolute;
        left: 0;
        transform: translateX(0%);
    }
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.openNav {
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 100px;
    margin: 10px;
    position: fixed;
    top: 10px;
}